.main {
  width: 489px;
  height: 473px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-weight: 700;
  padding: 32px;
  background: #fff;
  box-shadow: 28px -20px 60px 1px rgba(0, 87, 255, 0.47),
    -28px 20px 60px 1px rgba(251, 24, 78, 0.47);
}
.calculator-container {
  width: 311px;
  height: 304px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  font-weight: 700;
  padding: 1rem;
  text-align: center;
}
.calculator-container input {
  height: 30px;
  border: 2px solid;
  outline: none;
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 700;
  &&::placeholder {
    color: black;
    font-weight: 700;
  }
}
.calculator-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.calculator-container input:focus {
  &&::placeholder {
    opacity: 0;
  }
}
.buttons-container {
  display: flex;
  justify-content: space-between;
}
.button {
  height: 40px;
  width: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background: black;
}
.error {
  color: #fb184e;
  margin-bottom: 1rem;
}
.success {
  color: #0057ff;
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 436px) and (max-width: 530px) {
  .main {
    width: 410px;
    gap: 1.5rem;
    height: 360px;
  }
  .calculator-container > h1 {
    font-size: 26px;
  }
}

@media screen and (min-width: 381px) and (max-width: 435px) {
  .main {
    width: 360px;
    gap: 1.5rem;
    height: 360px;
  }
  .calculator-container > h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 350px) and (max-width: 380px) {
  .main {
    width: 340px;
    gap: 1.5rem;
    height: 360px;
  }
  .calculator-container > h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  .main {
    width: 310px;
    gap: 1.5rem;
    height: 360px;
  }
  .calculator-container > h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 280px) {
  .main {
    scale: 0.8;
  }
}